// Authors :Sila ERYILMAZ using bootstrap
doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title About
    link(rel='stylesheet', href='././css/about.css')
.section1
    .text
        span.border
            | *ABOUT US*
section.section.section-dark
    h2 SILA ERYILMAZ
.section2
    .text
        a(href='https://www.instagram.com/slaeryilmaz/?hl=tr')
            img(src='http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png', width='60', height='50', title='White flower', alt='Flower')
        br
        a(href='https://www.linkedin.com/in/sila-eryilmaz/')
            img(src='https://www.fourjay.org/fpng/f/100-1004225_linkedin-groups-transparent-logo-hd-png-download.png', width='200', height='50', title='White flower', alt='Flower')
        br
        a(href='https://github.com/SilaEryilmaz')
            img(src='https://cdn2.iconfinder.com/data/icons/social-icons-circular-color/512/github-512.png', width='60', height='50', title='White flower', alt='Flower')
        br
section.section.section-dark
    h2 RUMEYSA RANA YILMAZ
.section3
    .text
        .text
            a(href='https://www.linkedin.com/in/r-rana-yilmaz-b530a4189/')
                img(src='https://www.fourjay.org/fpng/f/100-1004225_linkedin-groups-transparent-logo-hd-png-download.png', width='200', height='50', title='White flower', alt='Flower')
            br
section.section.section-dark
.section1
script(src='js/app.js')
