// Authors :Rumeysa Rana YILMAZ, Sila ERYILMAZ 
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='./css/categoriesStyle.css')
  title Categories
.background_shape
.container
  #section1
    h1 &emsp;&emsp;&emsp;&emsp;JUST CHOOSE ONE
    p
      | &ldquo;I have always imagined that Paradise
      | will be a kind of library.
      | &horbar; Jorge Luis Borges&rdquo;
  #section2
    ul
      li
        a(href='http://localhost:3009/childbooks')
          img.imgx(src='./images/childbook.jpg')
          span       
            strong &emsp;&emsp;&emsp; Child Books 
      li
        a(href='http://localhost:3009/novelbooks')
          img.imgx(src='./images/novel.jpg')
          span        
            strong &emsp;&emsp;&emsp; Novel Books 
      li
        a(href='http://localhost:3009/poetrybooks')
          img.imgx(src='./images/poetry.jpg')
          span        
            br
            strong &emsp;&emsp;&emsp;&emsp;   Poetry Books 
