// Authors :Rumeysa Rana YILMAZ 
doctype html
head
  title Book World 
  meta(charset='utf-8')
  link(rel='stylesheet' type='text/css' href='css/load2.css')
#lc
  a(href='http://localhost:3009/navbar')
    .ld
      .ld
        .ld
          .ld
